@import "_base.scss";
.wrapper{
    overflow: hidden;
    .page{
        &.game3{            
            .info{
                .main{
                    background-image: url(../images/game_popup_content3.png);
                }
            }
            .game_stage{
                overflow: hidden;
            }
            .scoreboard{
                @include alt(100%,auto);
                @include fontvw(48,48,#fff,bolder);
                pointer-events: none;
                top: getVW(60);
                text-align: center;
                z-index: 4;
                display: none;
                .num{
                    color: #fff;
                }
            }
            .clock{
                @include artvw(154,176,25,135);
                background-image: url(../images/game_clock.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                z-index: 3;
                pointer-events: none;
                display: none;
                .timer{
                    @include am(auto,auto);
                    @include fontvw(74,74,#e70909,bolder);
                    text-align: center;
                }
            }
            $ballspeed:0.5s;
            $ballspeed_off:0.25s;
            .ball{
                @include albvw(349,357,139,260);
                background-image: url(../images/game3_item.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
                transition:0;
                z-index: 2;
                &:before{
                    content:"";
                    @include alt;
                    background-image: url(../images/game3_item2.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center center;
                    transition:0;
                    opacity: 0;
                }
                &.on{
                    animation: ball_ani $ballspeed 0s 1 linear;
                    animation-fill-mode: forwards;
                    &:before{
                        transition:$ballspeed;
                        opacity: 1;
                    }
                }
                &.off{
                    animation: ball_ani_off $ballspeed_off 0s 1 linear;
                    animation-fill-mode: forwards;
                }
                @keyframes ball_ani {
                    0% {
                        transform: rotateY(0) scale(1);
                    }
                    50% {
                        transform: rotateY(90deg) scale(0.6) translateY(-200%);
                    }
                    100% {
                        transform: rotateY(180deg) scale(1) translateY(0);
                    }
                }
                @keyframes ball_ani_off {
                    0% {
                        transform: scale(1);
                    }
                    50% {
                        transform: scale(0.6) translateY(-150%);
                    }
                    100% {
                        transform: scale(1) translateY(0);
                    }
                }
            }
            .bg{
                @include alt;
                background-image: url(../images/game3_bg.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center bottom;
                z-index: 0;
            }
        }
    }
}
.failPopup{
    @include flt;
    background-color: rgba(0,0,0,0.8);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 8;
    display: none;
    .main{
        @include altvw(585,1032,26,100);
        background-image: url(../images/game_popup_over.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        .again{
            @include altvw(404,110,96,324);
            background-image: url(../images/game_popup_over_btn1.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            cursor: pointer;
        }
        .back{
            @include altvw(404,110,96,445);
            background-image: url(../images/game_popup_over_btn2.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            cursor: pointer;
        }
    }
}